{% extends "base.html" %}
{% load static %}
{% block title %}
blog-page
{% endblock title %}
{% block content %}
<header id="main-navigation">
    <h1><a href="">Ali Pourfereydoon</a></h1>
    <nav>
        <a href="">All Posts</a>
    </nav>
</header>
<section class="welcome">
    <header>
        <img src="" alt="Ali-author of this page">
        <h2>blog page example</h2>
    </header>
    <p>Hi , My name is Ali Pourfereydoon, i am a Programer</p>
    
</section>
<section id="latest-posts">
    <h2>Latest posts</h2>
  <ul>
    <li>
        <article class="post">
            <a href="">
                <img src="" alt="">
                    <div class="post_content">
                        <h3>learning django</h3>
                        <p>learning django with Ali</p>
                    </div>
                </img>
            </a>
        </article>
    </li>
  </ul>

</section>
<section id="about">
    <h2>what i do !</h2>
    <p>i love programing</p>
</section>

{% endblock content %}

