* {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    background-color: #5D688A;
}

body {
    margin: 0;
    background-color: #5D688A;
}

h1,
h2,
h3 {
    font-family: Lato, sans-serif;
    font-weight: bold;
}